@import './variables.scss';


body {
    background-color: $ibMainBG;
    color: white;
}

.pg-main-view {
    margin: 20px;
    height: 90%;
    width: 95%;
}

.pg-show-border {
    border: 1px solid white;
}

.pg-container {
    margin: 5px;
    padding: 5px;
}

.pg-full-height {
    height: 100vh
}
