<div class="pg-portal-header" fxFlex>
    <div fxLayout="row">
        <div class="pg-container">
                <a [routerLink]="['/portal/first']"> First </a>
        </div>
        <div class="pg-container">
                <a [routerLink]="['/portal/second']"> Second </a>
        </div>
        <div class="pg-container">
                <a [routerLink]="['/portal/third']"> Third </a>
        </div>
        <div fxFlex></div>
        <div id="pg-portal-outlet">
            <!-- Portal content goes here -->
        </div>
    </div>
</div>

